@charset "UTF-8";
@media screen and (max-width: 767px) {
  .is-pc {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .is-sp {
    display: none;
  }
}
/* デフォルトのbuttonスタイルをリセット */
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: 0;
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: none;
  padding: 0;
  vertical-align: middle;
}
/* 共通
----------------------------------------------------------------- */
body {
  font-size: 14px;
  color: #333;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.6875;
}

.body-inside {
  overflow: hidden;
}

img {
  width: 100%;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: content-box;
}

@media screen and (max-width: 767px) {
  .inner {
    padding: 0 15px;
  }
}

h2 {
  text-align: center;
  margin: 40px 0 100px 0;
  font-size: 38px;
}

a{
  color: #000;
}

section {
  margin-bottom: 80px;
  padding-top: 30px;
}


/* header
----------------------------------------------------------------- */
.first-view {
  height: 100vh;
}

header {
  padding-top: 30px;
  padding-bottom: 30px;
}

.header-box {
  display: flex;
  justify-content: flex-end;
}

.header-box-item {
  justify-content: space-between;
}

.header-left {
  width: 20%;
}

/* 以下、ハンバーガーボタン */
.burger-btn{
  display: block;      
  width: 39px;      
  height: 39px;      
  position: relative;      
  z-index: 3;
  border:none; 
  margin-bottom: 5px;   
}    
.bar{      
  width: 50px;      
  height: 3px;        
  display: block;      
  position: absolute;      
  left: 50%;      
  transform: translateX(-50%);      
  background-color: #000;    
}    
.bar_top{   
  top: 35px;
}
.bar_mid{    
  top: 50%;
  transform: translate(-50%,-50%);
}
.bar_bottom{
  bottom: 35px;
}

.burger-btn.close .bar_top{      
  transform: translate(-50%,-17px) rotate(45deg);      
  transition: transform .3s;    
}    
.burger-btn.close .bar_mid{      
  opacity: 0;       
  transition: opacity .3s;    
}    
.burger-btn.close .bar_bottom{      
transform: translate(-50%,17px) rotate(-45deg);      
transition: transform .3s;    
}

.nav-wrapper{      
  visibility: hidden;     
  opacity: 0; 
  width: 100vw;      
  height: 100vh;      
  position: fixed;      
  top: 0;      
  left: 0;
  transition: all .5s;       
  z-index: 2;     
}     
.header-nav{        
  width: 100%;        
  height: 100%;        
  background-color:#fff;        
  z-index: 2;      
}     
.nav-list{        
  display: block;        
  position: absolute;        
  top: 50%;        
  left: 50%;        
  transform: translate(-50%,-50%);        
  text-align: center;      
}      
.nav-item{        
  margin-right: 0;        
  margin-bottom: 40px;      
}

/* メニューオープン時 */
.nav-wrapper.fade {
	visibility: visible;
	opacity: 1;
}

.noscroll{
  overflow: hidden;
}

.header {
  background-image: url(../img/top-img-2.png);
  height: 600px;
  min-height: 370px;
  background-attachment: fixed;
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}

.bar-top {
  background-color: #fff;
}

.menu-text-bar {
  color: #fff;
}

.menu-sns {
  width: 70%;
  margin-top: 20px;
}

/* top
----------------------------------------------------------------- */
.top-title {
  display: block;
  writing-mode: vertical-rl;
  margin: 0 auto 40px;
  font-size: 36px;
}

.top-text {
  text-align: center;
  font-size: 12px;
}

.scroll-b {
  width: 20px;
  margin-top: -300px;
}

.scroll-up {
  width: 50px;
  height: 50px;
  margin-left: auto;
}
/* top-img
----------------------------------------------------------------- */
.top-img {
  background-image: url(../img/スクリーンショット\ 2022-01-27\ 19.17.07.png);
  padding: 20%;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* project
----------------------------------------------------------------- */
.project {
  background-color: #000;
  padding: 120px 0 150px;
}

.project h2 {
  color: #fff;
}

.project-box {
  display: flex;
  justify-content: space-between;
  max-width: 70%;
  margin: 0 auto;
}


/* map
----------------------------------------------------------------- */
.map {
  position: relative;
}
.map-text-box {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  font-size: 50px;
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
}

.map-img {
  max-width: 700px;
  margin: 0 auto;
}

/* access
----------------------------------------------------------------- */
.access {
  background-image: url(../img/bg_access.jpg);
  margin-bottom: -100px;
  padding: 1%;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.access h2 {
  color: #fff;
}

.access-box {
  top: 280px;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  position: relative;
  width: 80%;
  padding-top: 500px;
  overflow: hidden;
}
.access-box iframe {
  position: absolute;
  top: -150px;
  left: 0;
  width: 100%;
  height: calc(100% + 150px + 150px);
  pointer-events: none;
}


/* contact
----------------------------------------------------------------- */
.contact {
  padding: 170px 0 80px;
  background-color: #f5f5f5;
  margin-bottom: 0;
}
.contact-top {
  display: flex;
  justify-content: center;
}

.contact-top li:first-of-type {
  margin-right: 20px;
}

.contact-box {
  width: 70%;
  max-width: 700px;
  margin: 0 auto;
}

.contact-item {
  display: flex;
  margin: 20px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #000;
}

.contact-item dt {
  width: 25%;
  margin-left: 5px;
}

.contact-item dd {
  width: 65%;
}

.contact-item-parts {
  display: flex;
}

.contact-item-left-box {
  margin-right: 20px;
}

.contact-item-left:first-of-type {
  margin-bottom: 25px;
}

.contact-footer {
  margin: 50px 0 30px 0;
  text-align: center;
}

.contact-footer-under {
  text-decoration: underline;
}

.contact-footer-submit {
  margin: 30px 0 30px 0;
}

.util-link {
  background:rgba(255,0,0,0.0);
  border: 1px solid #000;
  padding: 10px 20px;
  border-radius: 10px;
}



/* footer
----------------------------------------------------------------- */
footer {
  background-image: url(../img/02tamo.jpg);
  background-size: cover;
}

footer, .footer-left li a,.footer-center li a {
  color: #fff;
}

.footer-box-top {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.footer-center {
  margin-right: 350px;
}

.footer-box-bottom {
  display: flex;
  align-items: flex-end;
  padding-bottom: 50px;
  margin-top: -50px;
}

.footer-logo {
  margin-right: 30px;
  width: 20%;
}

.copyright {
  font-size: 10px;
}


/* カレンダー
----------------------------------------------------------------- */
.calendar {
  padding: 0 30px 30px 30px;
}
.calendar th,td {
  padding-bottom: 5px;
  padding-right: 5px;
}


/* hero
----------------------------------------------------------------- */
.hero-header-box {
  padding-top: 30px;
}
.hero-header-box .menu-text {
 color: #fff;
}

.menu-text {
  font-size: 18px;
}
.hero-header-box .bar {
  background-color: #fff;
}
.hero {
  margin-bottom: 0;
  position: relative;
  z-index: 0;
  padding-top: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
}


.nav_toggle .hero-i {
  background-color: #fff;
}

.hero-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
  margin: 30% auto 0;
}

.hero-link {
  width: 25%;
}

/* message
----------------------------------------------------------------- */
.message {
  text-align: center;
}

h1 {
  font-size: 32px;
  margin: 50px 0;
}

.message-text {
  margin-bottom: 30px;
}

/* news
----------------------------------------------------------------- */
.news {
  background-color: #f5f5f5;
  padding: 80px;
}

h4 {
  writing-mode: vertical-rl;
  font-size: 20px;
}

.news-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-center-box {
  margin-left: 20px;
}

.news-center-item {
  border-bottom: solid 1px #d3d3d3;
  padding: 10px 0;;
}

.news-inline {
  margin-left: 30px;
}
/* concept
----------------------------------------------------------------- */
.concept-box {
  width: 80%;
  margin: 0 auto;
}


.concept-center-title {
  width: 39%;
  margin-left: auto;
}

.concept-item:not(last-child) {
  margin-bottom: 100px;
}

.concept-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  text-align: center;
  margin: 0  -200% 0 0;
  padding: 30px 200% 30px 30px;
}

.concept-content-center {
  margin: 0 0 0 -200%;
  padding: 30px 30px 30px 200%;
}

.concept-left {
  width: 40%;
  text-align: left;
}

.concept-right {
  width: calc(45% + 100px);
  margin: -200px 0 0px;
}

h3 {
  font-size: 28px;
  margin-bottom: 50px;
}

.concept-footer {
  text-align: center;
}


/*# sourceMappingURL=style.css.map */